In [41]:
import os
import pandas as pd
import json

#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

#This is to direct the path to get the data as states

path="D:/PHONEPAY/data/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path)
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Insurance_type':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Insurance_type'].append(Name)
              clm['Insurance_count'].append(count)
              clm['Insurance_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_insur=pd.DataFrame(clm)
Agg_insur

path="D:/PHONEPAY/data/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)

clm={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_trans=pd.DataFrame(clm)
Agg_trans

path="D:/PHONEPAY/data/data/aggregated/user/country/india/state/"
Agg_state_list=os.listdir(path)


clm={'State':[], 'Year':[],'Quater':[],'Brands':[], 'Transaction_count':[], 'Percentage':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)

            try:

                for z in D['data']['usersByDevice']:
                    brand=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    clm['Brands'].append(brand)
                    clm['Transaction_count'].append(count)
                    clm['Percentage'].append(percentage)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))

            except:
                pass
#Succesfully created a dataframe
Agg_user=pd.DataFrame(clm)
Agg_user

path="D:/PHONEPAY/data/data/map/insurance/hover/country/india/state/"
Agg_state_list=os.listdir(path)

clm={'State':[], 'Year':[],'Quater':[],'Districts':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['Districts'].append(Name)
              clm['Insurance_count'].append(count)
              clm['Insurance_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_insur=pd.DataFrame(clm)
Map_insur

path="D:/PHONEPAY/data/data/map/transaction/hover/country/india/state/"
Agg_state_list=os.listdir(path)


clm={'State':[], 'Year':[],'Quater':[],'Districts':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['Districts'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_trans=pd.DataFrame(clm)
Map_trans


path="D:/PHONEPAY/data/data/map/user/hover/country/india/state/"
Agg_state_list=os.listdir(path)


clm={'State':[], 'Year':[],'Quater':[],'Districts':[], 'RegisteredUser':[], 'AppOpens':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)


            for z in D['data']['hoverData'].items():
                district = i[0]
                registereduser = z[1]["registeredUsers"]
                appopens = z[1]["appOpens"]
                clm['Districts'].append(district)
                clm['RegisteredUser'].append(registereduser)
                clm['AppOpens'].append(appopens)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))

#Succesfully created a dataframe
Map_user=pd.DataFrame(clm)
Map_user

path="D:/PHONEPAY/data/data/top/insurance/country/india/state/"
Agg_state_list=os.listdir(path)


clm={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
              entityName = z["entityName"]
              count = z["metric"]["count"]
              amount = z["metric"]["amount"]
              clm['Pincodes'].append(entityName)
              clm['Insurance_count'].append(count)
              clm['Insurance_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_insur=pd.DataFrame(clm)
Top_insur

path="D:/PHONEPAY/data/data/top/transaction/country/india/state/"
Agg_state_list=os.listdir(path)


clm={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['pincodes']:
              entityName = z["entityName"]
              count = z["metric"]["count"]
              amount = z["metric"]["amount"]
              clm['Pincodes'].append(entityName)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_trans=pd.DataFrame(clm)
Top_trans

path="D:/PHONEPAY/data/data/top/user/country/india/state/"
Agg_state_list=os.listdir(path)


clm={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'RegisteredUser':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)

            for z in D['data']['pincodes']:
                    name = z["name"]
                    registeredusers = z["registeredUsers"]
                    clm['Pincodes'].append(name)
                    clm['RegisteredUser'].append(registereduser)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json')))

#Succesfully created a dataframe
Top_user=pd.DataFrame(clm)
Top_user

                          State  Year  Quater Pincodes  RegisteredUser
0     andaman-&-nicobar-islands  2018       1   744103         1717074
1     andaman-&-nicobar-islands  2018       1   744101         1717074
2     andaman-&-nicobar-islands  2018       1   744105         1717074
3     andaman-&-nicobar-islands  2018       1   744102         1717074
4     andaman-&-nicobar-islands  2018       1   744104         1717074
...                         ...   ...     ...      ...             ...
9995                west-bengal  2024       4   733134         1717074
9996                west-bengal  2024       4   700059         1717074
9997                west-bengal  2024       4   711302         1717074
9998                west-bengal  2024       4   700150         1717074
9999                west-bengal  2024       4   711106         1717074

[10000 rows x 5 columns]

In [42]:
import mysql.connector
mydb = mysql.connector.connect(
        host = "127.0.0.1",
        user = "root",
        password = "Vishal@0712",
        database = "phonepe",
        autocommit = True)
cursor = mydb.cursor()

In [43]:
cursor.execute("""
            CREATE TABLE IF NOT EXISTS aggregated_user(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    Brands VARCHAR(50),
                    Transaction_count BIGINT,
                    Percentage FLOAT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS aggregated_transaction(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    Transaction_type VARCHAR(50),
                    Transaction_count BIGINT,
                    Transaction_amount BIGINT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS aggregated_insurance(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    Insurance_type VARCHAR(50),
                    Insurance_count BIGINT,
                    Insurance_amount BIGINT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS map_insurance(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    District VARCHAR(50),
                    Transaction_count BIGINT,
                    Transaction_amount FLOAT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS map_user(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    District VARCHAR(50),
                    RegisteredUser BIGINT,
                    AppOpens BIGINT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS map_transaction(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    District VARCHAR(50),
                    Transaction_count BIGINT,
                    Transaction_amount FLOAT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS top_insurance(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    Pincodes INT,
                    Transaction_count BIGINT,
                    Transaction_amount BIGINT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS top_transaction(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    Pincodes INT,
                    Transaction_count BIGINT,
                    Transaction_amount BIGINT)
        """)

cursor.execute("""
            CREATE TABLE IF NOT EXISTS top_user(
            States VARCHAR(50),
                    Years INT,
                    Quarter INT,
                    Pincodes INT,
                    RegisteredUser BIGINT)
        """)

In [48]:
query = "INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Agg_user.to_numpy()]

In [49]:
cursor.executemany(query, values)

In [46]:
query = "INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Agg_trans.to_numpy()]

In [47]:
cursor.executemany(query, values)

In [50]:
query = "INSERT INTO aggregated_insurance (States, Years, Quarter, Insurance_type, Insurance_count, Insurance_amount) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Agg_insur.to_numpy()]

In [51]:
cursor.executemany(query, values)

In [52]:
query = "INSERT INTO map_insurance (States, Years, Quarter, District, Transaction_count, Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Map_insur.to_numpy()]

In [53]:
cursor.executemany(query, values)

In [54]:
query = "INSERT INTO map_user (States, Years, Quarter, District, RegisteredUser, AppOpens) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Map_user.to_numpy()]

In [55]:
cursor.executemany(query, values)

In [56]:
query = "INSERT INTO map_transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Map_trans.to_numpy()]

In [57]:
cursor.executemany(query, values)

In [58]:
query = "INSERT INTO top_insurance (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Top_insur.to_numpy()]

In [59]:
cursor.executemany(query, values)

In [60]:
query = "INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
values = [tuple(x) for x in Top_trans.to_numpy()]

In [61]:
cursor.executemany(query, values)

In [44]:
query = "INSERT INTO top_user (States, Years, Quarter, Pincodes, RegisteredUser) VALUES (%s, %s, %s, %s, %s)"
values = [tuple(x) for x in Top_user.to_numpy()]

In [45]:
cursor.executemany(query, values)